<config>
    <input>
        <jar in="in/*.jar" out="out/*.jar"/>
    </input>
    <keep-names>
        <class template="class net.runelite.client.plugins.NFarming.PFarming"/>
        <class template="class net.runelite.client.plugins.NFarming.PFarmingConfig"/>
        <class template="class net.runelite.client.plugins.NFarming.PFarmingState"/>
        <class template="class net.runelite.client.plugins.NFarming.RunType">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NGatherer.NGatherer"/>
        <class template="class net.runelite.client.plugins.NGatherer.NGathererConfig"/>
        <class template="class net.runelite.client.plugins.NGatherer.NGathererType"/>
        <class template="class net.runelite.client.plugins.NGatherer.NGathererTypee"/>
        <class template="class net.runelite.client.plugins.NGatherer.NGathererTypeee"/>
        <class template="class net.runelite.client.plugins.NGatherer.NGathererBankType">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NUtils.PUtils"/>
        <class template="class net.runelite.client.plugins.NUtils.Runes"/>
        <class template="class net.runelite.client.plugins.NUtils.Spells"/>
        <class template="class net.runelite.client.plugins.NUtils.Tab"/>
        <class template="class net.runelite.client.plugins.NUtils.PrayerMap"/>
        <class template="class net.runelite.client.plugins.NUtils.NewMenuEntry"/>
        <class template="class net.runelite.client.plugins.NUtils.Banks"/>
        <class template="class net.runelite.client.plugins.NUtils.PConfig">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NTempoross.NTempoross"/>
        <class template="class net.runelite.client.plugins.NTempoross.NTemporossConfig"/>
        <class template="class net.runelite.client.plugins.NTempoross.NTemporossState">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NQuickEat.PQuickEat"/>
        <class template="class net.runelite.client.plugins.NQuickEat.PQuickEatConfig"/>
        <class template="class net.runelite.client.plugins.NQuickEat.PQuickEatType">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NQuickPray.NQuickPray"/>
        <class template="class net.runelite.client.plugins.NQuickPray.NQuickPrayConfig"/>
        <class template="class net.runelite.client.plugins.NQuickPray.NQuickPrayType">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NQuickPot.NQuickPot"/>
        <class template="class net.runelite.client.plugins.NQuickPot.NQuickPotConfig"/>
        <class template="class net.runelite.client.plugins.NQuickPot.NQuickPotPot"/>
        <class template="class net.runelite.client.plugins.NQuickPot.NQuickPotType">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NGauntlet.NGauntlet"/>
        <class template="class net.runelite.client.plugins.NGauntlet.Hunllef"/>
        <class template="class net.runelite.client.plugins.NGauntlet.NGauntletConfig">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NGuardians.NGuardians"/>
        <class template="class net.runelite.client.plugins.NGuardians.NGuardiansConfig"/>
        <class template="class net.runelite.client.plugins.NGuardians.NGuardiansState">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class net.runelite.client.plugins.NQuickFighter.NQuickFighter"/>
        <class template="class net.runelite.client.plugins.NQuickFighter.NQuickFighterConfig"/>
        <class template="class net.runelite.client.plugins.NQuickFighter.NQuickFighterState">
            <field template="*"/>
            <method template="*(**)"/>
        </class>
        <class template="class io.jsonwebtoken.*">
            <field access="private+"/>
            <method template="private+ *(**)"/>
        </class>
    </keep-names>

    <property name="log-file" value="log.xml"/>

    <!-- String encryption -->
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NFarming.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NGauntlet.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NGuardians.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NUtils.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NGatherer.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NQuickSpec.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NQuickPray.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NQuickPot.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NQuickFighter.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NInfernoHelper.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NTempoross.*"/>
    <property name="string-encryption" value="enable" apply2class="class net.runelite.client.plugins.NumbSuite.*"/>
    <property name="string-encryption" value="disable"/>

    <!-- Control flow obfuscation -->
    <property name="control-flow-obfuscation" value="enable"/>
    <property name="extensive-flow-obfuscation" value="maximum"/>

    <property name="default-package" value="net.runelite.client.plugins.NumbPlugins"/>
    <property name="force-default-package" value="enable"/>

    <property name="classes-naming-prefix" value="numbplugins"/>
    <property name="classes-naming" value="unique"/>
    <property name="methods-naming" value="unique"/>
    <property name="fields-naming" value="compact"/>
    <property name="local-variables-naming" value="optimize"/>

    <property name="update-resource-names" value="disable"/>
    <property name="update-resource-contents" value="enable" apply2file="*.idx"/>

    <!-- Other -->
    <property name="synthetize-fields" value="all"/>
    <property name="line-numbers" value="obfuscate"/>
    <property name="generics" value="remove"/>
    <property name="inner-classes" value="remove"/>
    <property name="member-reorder" value="enable"/>
    <property name="finalize" value="enable"/>
    <property name="output-jar-compression-level" value="9"/>
</config>
